{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Breadcrumb -->
<section class="section-breadcrumb">
    <div class="cr-breadcrumb-image">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cr-breadcrumb-title">
                        <h2>NEW PASSWORD</h2>
                        <span> <a href="{%url 'index' %}">Home</a> - New Password</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Register -->
<section class="section-register padding-tb-100">
    <div class="container">
        <div class="row d-none">
            <div class="col-lg-12">
                <div class="mb-30" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="400">
                    <div class="cr-banner">
                        <h2>Register</h2>
                    </div>
                    <div class="cr-banner-sub-title">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore lacus vel facilisis. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="cr-register" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="400">
                    <div class="form-logo">
                        <img src="{% static 'assets/img/logo/logo.png' %}" alt="logo">
                    </div>

                    {% if messages %}
                    <div class="alert alert-info" id="message">
                        {% for message in messages %}
                        <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <form class="cr-content-form" method="POST" action="{% url 'newpassword' %}">
                        {% csrf_token %}
                        <div class="row">

                            <div class="form-group">
                                <label>New Password*</label>
                                <input type="password" name="newpassword" placeholder="New Password"
                                    class="cr-form-control" required>
                            </div>
                            <div class="form-group">
                                <label> Confirm Password*</label>
                                <input type="password" name="confirmnewpassword" placeholder="Confirm New Password"
                                    class="cr-form-control" required>
                            </div>

                            <div class="cr-register-buttons">
                                <button type="submit" class="cr-button">Create New Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    setTimeout(function () {
        document.getElementById("message").style.display = "none";
    }, 5000);  // Hide the message after 5 seconds
</script>

{% endblock %}